.header{
    background-size: cover;
    background-image: url("./444395-money-background-pictures-1920x1080-desktop.jpg");
    height: 100vh;
    width:100vw;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
}
.header h1{
    font-size: 70px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 0;
}
