.budget{
    background-image: url("./51223610595_ee509b3ee2_b.jpg");
    background-size: cover;
    height: 100vh;
    width:100vw;
}
.budget input, .budget label , .budget select{
    display: block;
    margin-left: 20px;
}
.budget label{
    margin-top: 0px;
    font-size: 25px;

 }

 
 .budget button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    margin-left: 20px;
    
  }
  
  .budget button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
 
  

  .budget input,.budget select {
    width: 30%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    background: transparent;
  }
  .budget input:hover{
    border-bottom: 3px solid #03e9f4 ;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
 }
  
  .budget label {
    padding: 10px 0;
    font-size: 30px;
    color: #03e9f4;
    pointer-events: none;
    transition: 5s;
    font-weight: bold;
  }
  
 .information{
   background-color: rgb(175, 212, 221);
 }


 .information {
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
     width: 100vw;
 }
 #table2{
    margin-top: 80px;
    width: 100vw;
    
 }
 #table2 td{
    border: yellow solid 2px;
    height: 40px;
   font-size: 30px;
   background-color: yellow;
    width: 20vw;
 }
 #table{
    width: 100vw;
    border: yellow solid 2px;
 
   
 }
 #table td{
    width: 20vw;
    height: 40px;
   font-size: 30px;
   background-color: rgb(205, 245, 255);
    
 }
 .Line{
    margin-top: 100px;
    width: 60vw;
    background-color: #fff;
 }
  .Pie{
   margin-top: 100px;
   width: 60vw;
  }